@charset "UTF-8";

body {
font-family: 'メイリオ', Meiryo;
}


header,
main {
  overflow-y: visible;
  width: 1260px;
  margin: auto;
}

main {
  margin-top: 40px;
}

header > img {
  position: relative;
  top: 20px;
}

#toolbox {
  float: right;
  position: relative;
  top: 30px;
}

#site {
  display: inline;
  position: absolute;
  right: 35px;
  top: -20px;
}

#toolbox input {
  border: solid 1px #202d74;
  height: 26px;
  width: 150px;
  position: relative;
  bottom: 11px;
  left: 6px;
  margin-left: 15px;
}

#toolbox span {
  position: relative;
  bottom: 8px;
  margin: auto 5px;
}

#toolbox > img.fontimg {
  margin-right: 5px;
}

#site a {
  font-size: 13px;
  margin: 7px;
}

#slide .mainpic {
  position: relative;
}

#slide .mainpic .left{
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

#slide .mainpic .right{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

#slide .mainpic .left:hover,
#slide .mainpic .right:hover {
  cursor: pointer;
  background-color: gray;
}

#mainnav {
  overflow: hidden;
  background-color: #202d74;
  color: white;
  overflow: hidden;
  list-style: none;
  padding: 15px 0px;
}

#mainnav li {
  float: left;
}

#mainnav li.pagelink {
  width: 251.2px;
  border-right: solid 1px white;
  text-align: center;
}

#mainnav li.pagelink:last-child {
  border-right: 0px;
}

#thumb{
  overflow: hidden;
}

#thumb .thumb{
  float: left;
  width: 33.3%;
  height: 100px;
  background-color: black;
}

#thumb .thumb .disabled {
  opacity: 0.5;
}

#thumb .thumb .disabled:hover {
  cursor: pointer;
  opacity: 0.7;
}

#context {
  overflow: hidden;
  margin-top: 50px;
  color: #202d74;
}

#sidenav,
#information {
  float: left;
}

#sidenav {
  width: 360px;
}

#internetbank h3,
#internetbank p {
  margin: 0px;
  text-align: center;
}

#internetbank h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

#internetbank p {
  font-size: 12px;
}

#internetbank div {
  margin-top: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px 0px;
}

#internetbank div.login{
  background-color: #202d74;
  font-size: 13px;
  font-weight: bold;
}

#internetbank div.firstlogin{
  background-color: #8fc31f;
  font-size: 13px;
  font-weight: bold;;
}

#internetbank a {
  display: block;
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
}

#serviceinfo h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 50px;
  text-align: center;
}

#serviceinfo .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#serviceinfo .services .service {
  background-color: #1e8796;
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 114px;
  height: 114px;
  margin-bottom: 9px;
  position: relative;
}

#serviceinfo .services .service span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*最後の一つは細くなり、三行になってしまうので特別対応*/
#serviceinfo .services .service span:last-child {
  width: 80px;
}

#buttons {
  margin-top: 30px
}

#buttons span{
  display: block;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 8px 0px;
  margin-top: 10px;
}

#buttons span.type01 {
  background-color: #202d74;
}

#buttons span.type02 {
  background-color: #8fc31f;
}

#type01,
#type02,
#lost {
  margin-top: 30px;
}

#information {
  margin-left: 50px;
}

#infolinks {
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#infolinks .linkbox {
  width: 48%;
  margin-bottom: 35px;
}

#infolinks .linkbox h3 {
  margin-bottom: 25px;
  border-left: solid 10px #1e8796;
  border-bottom: solid 1px #1e8796;
  padding: 10px 0px 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

#infolinks .links {
  display: flex;
  flex-wrap: wrap;
}

#infolinks .linkbox a {
  display: block;
  text-decoration: none;
  width: 50%;
  margin-bottom: 20px;
  font-size: 14px
}

#topics .topictabs {
  border: 0px;
  border-bottom: solid 2px #202d74;
  display: flex;
  justify-content: space-around;
}

#topics .tab {
  background-color: #202d74;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 211px;
  text-align: center;
  padding: 15px 0px;
}

#topics .tab.disabled {
  background-color: #c9c9c9;
}
